@font-face {
	font-family: "EudoxusSans-Light";
	src: url("../../assets/fonts/EudoxusSans-Light.ttf");
}
@font-face {
	font-family: "EudoxusSans-Regular";
	src: url("../../assets/fonts/EudoxusSans-Regular.ttf");
}
@font-face {
	font-family: "EudoxusSans-Bold";
	src: url("../../assets/fonts/EudoxusSans-Bold.ttf");
}
@font-face {
	font-family: "EudoxusSans-ExtraBold";
	src: url("../../assets/fonts/EudoxusSans-ExtraBold.ttf");
}